{% extends "base.html" %}
{% load static %}

{% block content %}
  <main>
    <section class="container flex flex-col py-10 mx-auto xl:flex-row xl:items-center">
      <div class="w-full px-6 py-10 lg:px-8 xl:w-1/2">
        <h1 class="mb-8 text-4xl font-extrabold text-gray-900 lg:text-7xl">Transformamos la manera de proteger tu motor</h1>
        <p class="text-lg font-medium text-gray-600 lg:text-xl">con filtros diseñados para maximizar el rendimiento y la durabilidad de cualquier vehículo. Ya sea aire, gasolina o aceite, cada filtro combina innovación y calidad para garantizar un motor más limpio y eficiente. Nuestra tecnología asegura que cada componente esté protegido, brindando confianza y potencia en cada trayecto. Confía en quienes cuidan lo esencial, confia en la perfección que filtra.</p>
      </div>
      <div class="flex justify-center w-full gap-8 overflow-hidden xl:justify-end flex-nowrap xl:w-1/2">
        <div class="pt-36 shrink-0">
          <img class="rounded-xl w-72 h-72" src="{% static 'about/img/1.jpg' %}" alt="autos"/>
          <img class="mt-8 rounded-xl h-72 w-72" src="{% static "about/img/2.jpg" %}" alt="camioneta"/>
        </div>
        <div class="pb-36 shrink-0">
          <img class="rounded-xl w-72 h-72" src="{% static 'about/img/3.jpg' %}" alt="auto y camioneta"/>
          <img class="mt-8 rounded-xl h-72 w-72" src="{% static 'about/img/4.jpg' %}" alt="camion"/>
        </div>
      </div>
    </section>
    <section class="container mx-auto">
      <div class="flex flex-col-reverse gap-8 px-6 py-10 lg:flex-row lg:px-8">
        <img class="object-cover w-full bg-right aspect-video lg:w-125 rounded-xl shrink-0" src="{% static "about/img/camioneta-2.jpg" %}" alt="camioneta y filtro"/>
        <div>
          <h1 class="mb-6 text-5xl font-bold text-gray-900">Nuestra misión</h1>
          <p class="text-lg font-medium text-gray-600 lg:text-xl">es ser líderes en la fabricación de sistemas de filtración automotriz, proporcionando soluciones innovadoras y de alta calidad que protejan y optimicen el desempeño de motores.</p>
          <p class="text-lg font-medium text-gray-600 lg:text-xl">En Industrias Willy Busch nos enfocamos en cuidar cada detalle para prolongar la vida útil de los motores pesados o livianos, impulsando la confianza de nuestros clientes y contribuyendo al desarrollo de un sector más eficiente y sostenible.</p>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}