{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block hero %}
<section class="splide hero-splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="{% static "home/img/image-1.jpg" %}" alt="filtros slider 1" />
      </li>
      <li class="splide__slide">
        <img src="{% static "home/img/image-2.jpg" %}" alt="filtros slider 1" />
      </li>
      <li class="splide__slide">
        <img src="{% static "home/img/image-3.jpg" %}" alt="filtros slider 1" />
      </li>
      <li class="splide__slide">
        <img src="{% static "home/img/image-4.jpg" %}" alt="filtros slider 1" />
      </li>
      <li class="splide__slide">
        <img src="{% static "home/img/image-5.jpg" %}" alt="filtros slider 1" />
      </li>
    </ul>
  </div>
</section>
{% endblock hero %}
{% block content %}
<main>
  <section
    x-data="{
      mode: 'code',
      suggestions: [],
      query: '',
      show: false,
      changeMode(mode) {
        this.query = ''
        this.mode = mode
      },
      handleInput() {
        if (this.query.length > 2) {
          const id = this.mode == 'code' ? '#search-form' : '#eq-form'
          htmx.trigger(id, 'search-input');
          this.show = true;
        } else {
          this.show = false;
        }
      }
    }"
    class="container relative z-10 px-4 mx-auto -mt-8 search"
  >
    <div class="flex flex-col max-w-4xl gap-4 p-4 mx-auto bg-red-600 rounded-lg">
      <ul class="flex gap-4 text-white">
        <li @click="changeMode('code')" class="[&.active]:border-b-2 [&.active]:border-b-white cursor-pointer" :class="mode == 'code' ? 'active' : ''">Por código</li>
        <li @click="changeMode('eq')" class="[&.active]:border-b-2 [&.active]:border-b-white cursor-pointer" :class="mode == 'eq' ? 'active' : ''">Por equivalencia</li>
      </ul>
      <div x-show="mode == 'code'" id="q-code">
        <form action="{% url "products:products" %}" id="search-form" hx-get="{% url "products:search" %}" hx-trigger="search-input" hx-target="#searchSuggestions">
          <input
            name="codigo__icontains"
            x-model="query"
            placeholder="Ingresa código a buscar"
            type="search"
            @input="handleInput"
            class="w-full rounded search-input"
          >
        </form>
      </div>
      <div x-show="mode == 'eq'" id="q-eq">
        <form action="{% url "products:products" %}" id="eq-form" hx-get="{% url "products:search" %}" hx-trigger="search-input" hx-target="#searchSuggestions">
          <input
            name="equivalencias__codigo__icontains"
            placeholder="Ingresa código a comparar"
            x-model="query"
            type="search"
            @input="handleInput"
            class="w-full rounded"
          >
        </form>
      </div>
    </div>
    <div
      class="max-w-4xl mx-auto mt-1 bg-white border border-gray-100 rounded shadow-md"
      id="searchSuggestions"
      x-show="show"
      @click.away="show = false"
    >
    </div>
  </section>
  <section class="container px-4 py-10 mx-auto">
    <div class="flex flex-col items-start justify-between lg:flex-row lg:items-center">
      <h1 class="mb-4 text-2xl font-extrabold text-red-600 lg:text-4xl">Productos destacados</h1>
      <a href="#" class="text-sm font-semibold text-gray-500 lg:text-base">VER TODOS <i class="las la-arrow-right"></i></a>
    </div>
    <div class="featured-splide splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for product in featured_products %}
          <li data-code="{{ product.codigo }}" class="flex flex-col items-center gap-2 splide__slide">
            <div class="w-80 h-80">
              <img data-code="{{ product.codigo }}" class="hidden object-contain w-80 h-80" src="" alt="{{ product.codigo }} imagen" />
            </div>
            <a href="{% url 'products:product' product.pk %}" class="block px-4 py-2 text-2xl font-extrabold text-center text-white bg-red-600 rounded-md">{{ product.codigo }}</a>
            <p class="w-full font-semibold text-center text-gray-500 line-clamp-2">{{ product.tipo }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <section class="flex items-center justify-center text-white bg-fixed bg-cover h-125" style="background-image: url({% static 'home/img/paralelaje.webp' %})">
    {% comment %} <h1 class="text-6xl font-bold">Perfección que filtra</h1> {% endcomment %}
    <img src="{% static 'img/sello.svg' %}" alt="sello willy busch">
  </section>
  <section class="container px-4 py-10 mx-auto">
    <div class="flex flex-col items-start justify-between lg:flex-row lg:items-center">
      <h1 class="mb-4 text-2xl font-extrabold text-red-600 lg:text-4xl">Promociones</h1>
      <a href="#" class="text-sm font-semibold text-gray-500 lg:text-base">VER TODOS <i class="las la-arrow-right"></i></a>
    </div>
    <div class="featured-splide splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for product in promoted_products %}
          <li data-code="{{ product.codigo }}" class="flex flex-col items-center w-full gap-2 splide__slide">
            <img data-code="{{ product.codigo }}" class="hidden object-contain w-80 h-80" src="" alt="{{ product.codigo }} imagen" />
            <a href="{% url 'products:product' product.pk %}" class="block w-5/6 px-4 py-2 text-2xl font-extrabold text-center text-white bg-red-600 rounded-md">{{ product.codigo }}</a>
            <p class="w-full font-semibold text-center text-gray-500 line-clamp-2">{{ product.tipo }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</main>
{% endblock content %}