{% extends "base.html" %}

{% block content %}
	<section x-data="fullCartData" class="container px-4 py-10 mx-auto min-h-[calc(100dvh-17.75rem)]">
		<template x-if="cart">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
        <div class="md:col-span-1">
          <h4 class="mb-4 text-xl font-semibold">¿Deseas solicitar una cotización?</h4>
          <p class="mb-4 text-gray-900">Comunicate con nosotros. Enviaremos tu pedido a uno de nuestros representantes de venta y el te responderá lo más rápido posible</p>
          {% comment %} <a :href="`https://wa.me/51970001095?text=${text}`" class="flex items-center justify-center gap-2 px-4 py-2 text-white bg-red-600"><i class="text-2xl lab la-whatsapp"></i> Solicitar cotización</a> {% endcomment %}
          <a :href="`mailto:atencionalcliente@filtroswillybusch.com.pe?subject=${encodeURIComponent('Solicitud de cotización')}&body=${text}`" class="flex items-center justify-center gap-2 px-4 py-2 text-white bg-red-600"><i class="text-2xl las la-envelope"></i> Solicitar cotización</a>
        </div>
        <ul class="md:col-span-2">
          <template x-for="(item, i) in cart">
            <li class="flex flex-col gap-4 py-4 border-b md:flex-row border-b-gray-500">
              <div class="w-full rounded md:w-auto min-w-40 aspect-square bg-slate-100 shrink-0">
                <img :data-code="item.code" class="hidden object-contain w-full rounded md:w-40 aspect-square" src="" :alt="`${item.code} imagen`" />
              </div>
              <div class="flex flex-col gap-4">
                <span x-text="item.code" class="text-2xl font-extrabold text-red-600"></span>
                <p x-text="item.desc"></p>
                <div class="flex flex-col items-start gap-2">
                  <div>
                    <button @click="increase(item.code)" class="text-white bg-gray-500 rounded-l-lg w-11 h-11" type="button"><i class="las la-plus"></i></button>
                    <input class="w-20 text-center border-l-0 border-r-0 border-gray-200 h-11" type="text" name="count" x-model.number="item.count" />
                    <button :disabled="item.count <= 1" @click="decrease(item.code)" class="text-white bg-gray-500 rounded-r-lg w-11 h-11 disabled:bg-gray-200" type="button"><i class="las la-minus"></i></button>
                  </div>
                  <button @click="remove(item.code)" class="text-xs font-semibold text-gray-500">REMOVE</button>
                </div>
              </div>
            </li>
          </template>
        </ul>
      </div>
		</template>
    <template x-if="!cart || !Object.keys(cart).length">
      <p class="italic font-medium text-center text-gray-500">Esta página está vacía, agrega productos desde el catálogo</p>
    </template>
	</section>
{% endblock content %}